{% extends "content_block.html" %}

{% block content %}
<div style="text-align: center;">
<!-- enctype multipart/form-data is to ensure that the encoding type is transmitted to the server. Used as we are uploading binary data -->
    <form method="POST" enctype="multipart/form-data">
        {{ form_template.hidden_tag() }}
        {{ form_template.file.label }}
        <br><br>
        {{ form_template.file }}
        <br><br>
        {{ form_template.submit }}
    </form>
    <p> {{ result }} </p>
    <p> {{ error }}</p>
</div>

{% endblock %}